.config/*
.local/*

.config/alacritty/*
.config/aria2/*
.config/bottom/*
.config/deck/*
.config/dunst/*
.config/fish/*
.config/git/*
.config/gtk-2.0/gtkrc
.config/gtk-3.0/settings.ini
.config/lf/*
.config/mpv/*
.config/mutt/muttrc
.config/picom/*
.config/python/*
.config/rofi/*
.config/stylua/*
.config/sx/*
.config/tmux/*
.config/X11/*
.config/xmobar/*
.config/xmonad/*
.config/zathura/*
.config/user-dirs.dirs
.config/user-dirs.locale
